.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.submitButton {
    background-color: #0da37f;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}