.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(32, 33, 35);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.2s ease-in-out;
    color: #0da37f;
}

.card:hover {
    transform: translateY(-5px);
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgb(32, 33, 35);
}

.cardContent {
    font-size: 16px;
    background-color: rgb(32, 33, 35);
}